@font-face {
    font-family: Outfit;
    src: url(font/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: Jakarta;
    src: url(font/PlusJakartaSans-VariableFont_wght.ttf);
}




html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body { 
    padding-top: 65px; 
    font-family: Jakarta;
}

h6 { 
   font-family:Outfit;
   font-size: 19px;
   color:#FFD08C;
   margin-top:30px;
}



.navbar{
    font-family: Outfit!important;
    font-size: 20px;
    border: 1px solid transparent;
    background-color: #ACC6FD!important;
    text-align: center;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar-title{
    font-size: 25px; 
    margin-left:10px;
}
.nav-link {
    margin-right: 10px;
    margin-left: 10px;
}


.language:hover{
    color: white;
}

.current_lang {
    color: purple !important;   
  }
  

#about{
    background-color: #CBCEFA;
   
    padding-top:70px;
    padding-bottom:80px;
    margin-bottom:0px;
}
.about-col{
    padding-left:40px;
}

#grafica{
background-color: #CEB3F2; 
padding-top:70px;
padding-bottom:80px;
color: #FFFFFF;
}

#lettering{
    background-color: #FFFFFF;
    padding-top:70px;
    padding-bottom:80px;
}

#illustrazioni{
    background-color:#D2E2F5;
    padding-top:70px;
    padding-bottom:80px;
}

#faq{
    background-color:#FFFFFF;
    padding-bottom:80px;
    
}
.faq-immagine{
    background-image: url("immagini/omini-donna3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}
.sezione-titolo-faq{
    text-align:center; 
    padding-bottom: 30px; 
    font-family: Outfit; 
    font-size: 50px; 
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top:100px;
}
.sezione-sottotitolo-faq{
    font-family: Outfit; 
    font-size: 50px; 
    color:#6D51F6!important; 
    text-align:center;
    padding-top:60px;
}


#contatti{
    background-color:#CBCEFA;
    padding-bottom:80px;
}
.contatti-immagine{
    background-image: url("immagini/donna-cuore4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
}
.sezione-titolo-contatti{
    text-align:center; 
    padding-bottom: 30px; 
    font-family: Outfit; 
    font-size: 50px; 
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top:150px;
}
.sezione-sottotitolo-contatti{
    font-family: Outfit; 
    font-size: 50px; 
    text-align:center;
    padding-top:60px;
    color:#FFFF!important;
     margin-bottom:30px;
}



.sezione-titolo{
    text-align:center; 
    padding-bottom: 30px; 
    font-family: Outfit; 
    font-size: 50px; 
    text-transform: uppercase;
    color: #FFFFFF;
}
.sezione-sottotitolo{
    font-family: Outfit; 
    font-size: 50px; 
    color: #FFFFFF;
}

.sezione-testo{  
    font-size: 17px !important; 
}

ul{  
    font-size: 17px !important; 
}

.images-desktop p, a{
    font-size: 14px !important; 
}

.images-mobile p, a{
    font-size: 17px !important; 
}


/*pulsante torna su*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5px;
    border: none;
    outline: none;
    background-color: #b478ed;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1)!important;
    z-index: 1;
  }
  
#myBtn:hover {
    background-color: #6918b4;

}

#progetto{
    padding-top:70px;
    padding-bottom:80px;
}

.progetto-sezione-intro{
    padding-left:60px; 
    padding-right:60px; 
    padding-top:40px; 
    padding-bottom: 50px;
}
.progetto-titolo{
    color:rgb(86, 86, 86);
    text-align:center; 
    padding-bottom: 30px; 
    font-family: Outfit; 
    font-size: 50px; 
    text-transform: uppercase;
   
}
.progetto-sottotitolo{
    font-family: Outfit; 
    font-size: 30px; 
    color: rgb(86, 86, 86);
}

.progetto-sottosezione{
    padding-top:50px;
}


.carousel .carousel-item {
    height: 1000px!important; 
}
  
.carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 500px;
      object-fit: cover;
}

.button-homepage{
    background-color: #E3EFE6!important;
    border-color: #E3EFE6!important;
    padding:10px;
    border-radius: 25px!important;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1)!important;
}
.button-homepage a{
    color:#333333!important;
    text-decoration: none!important;
}
.button-homepage:hover{
    background-color: #bfedcb!important;
    color:white!important;
    text-decoration: underline;
    
}


.footer { 
    position:static;
    left: 0;
    bottom:0;
    width: 100%;
    background-color: #FFDEDE;
    color: black;
    text-align: center;
    padding: 5px;
    font-size: 14px;
    padding-top: 15px; 
    padding-bottom: 3px;
    height: auto; 
    font-family: Outfit;
}


/*loghi social*/
.wrapper .icon{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
  }
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  .wrapper .mail:hover,
  .wrapper .mail:hover .tooltip,
  .wrapper .mail:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }

  .wrapper .linkedin:hover,
  .wrapper .linkedin:hover .tooltip,
  .wrapper .linkedin:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }
  .wrapper .tiktok:hover,
  .wrapper .tiktok:hover .tooltip,
  .wrapper .tiktok:hover .tooltip::before {
    background-color: #333333;;
    color: #ffffff;
  }
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background-color: #e1306c;
    color: #ffffff;
  }
  .wrapper .behance:hover,
  .wrapper .behance:hover .tooltip,
  .wrapper .behance:hover .tooltip::before {
    background-color: #0067ff;
    color: #ffffff;
  }
  .wrapper .youtube:hover,
  .wrapper .youtube:hover .tooltip,
  .wrapper .youtube:hover .tooltip::before {
    background-color: #de463b;
    color: #ffffff;
  }




/*zoom e testo sulle immagini*/  
.img-hover-zoom {
    height: 100%; 
    overflow:hidden;        
    position: relative;
    display: inline-block;

}
  
.img-hover-zoom img {
    transition: transform .5s ease;
    display:block;
    height: 100%;
}
  
/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}





/*media query per dispositivi più piccoli o pari a 768px*/
@media (max-width:768px){
    .images-desktop{
        display:none;
    }
    .progetto-sezione-intro{
        padding-left:10px; 
        padding-right:10px; 
        padding-top:7px; 
        padding-bottom: 7px;
    }
    .carousel .carousel-item {
        height: 500px!important; 
    }
}

/*media query per dispositivi più grandi di 768px*/
@media (min-width: 768px) { 
    .faq-immagine{
        height: 400px;
      }
    .contatti-immagine{
        height: 400px;
    }
    .images-mobile{
        display:none;
    }
  }






